& {
  list-style: none;
  margin-left: $gutter + $gutter-half;
  li {
    display: flex;
    align-items: center;
    margin-bottom: $gutter-half;
    @include arrow;
    &:before {
      margin-right: $gutter;
      margin-left: $gutter-quarter;
      flex-shrink: 0;
    }
  }
}