main {

  > aside {
    position: fixed;
    top: 0;
    right: -100vw;
    width: 100vw;
    height: 100vw;
    transition: 0.4s right;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
  
  > section {
    opacity: 1;
    position: relative;
    right: 0;
    transition: 0.4s right, 0.2s opacity;
    &.sideloader-loading {
      opacity: 0.4;
    }
    &.sideloader-active {
      right: 100vw;
      & + aside {
        right: 0;
      }
    }
  }
}