*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

main {
  padding: $gutter;
  > div {
    > * {
      margin-top: 0;
      margin-bottom: $gutter;
    }
  }
}

p {
  margin-top: 0;
}