*, *:before, *:after {
  box-sizing: border-box;
}

/* added inline in index.html */
// html, body {
//   margin: 0;
// }

main > section {
  /* added inline in index.html */
  // max-width: 960px;
  // margin: auto;
  // display: block;
  padding-top: $gutter;
  > div {
    > * {
      padding-left: $gutter;
      padding-right: $gutter;
      margin-top: 0;
      margin-bottom: $gutter;
    }
  }
}

/* added inline in index.html */
// p {
//   margin-top: 0;
// }