*, *:before, *:after {
  box-sizing: border-box;
}

/* added inline in index.html */
// html, body {
//   margin: 0;
// }

// force ios to always show bottom nav bar
html, body {
    height: 100%;
    overflow: hidden;
}
main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

main > section {
  /* added inline in index.html */
  // max-width: 960px;
  // margin: auto;
  // display: block;
  padding-top: $gutter;
  > div {
    > * {
      padding-left: $gutter;
      padding-right: $gutter;
      margin-top: 0;
      margin-bottom: $gutter;
    }
  }
}

/* added inline in index.html */
// p {
//   margin-top: 0;
// }