& {
  font-size: 0.8em;
  overflow: hidden;
  margin: 0;
  p {
    margin: 0
  }
  a {
    $icon-size: 12px;
    padding: $gutter-small 0;
    padding-right: $icon-size + $gutter-quarter;
    float: right;
    clear: both;
    positon: relative;
    &:after {
      font-family: 'fontello';
      width: $icon-size;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &.email:after {
      content: '\E801';
    }
    &.tel:after {
      content: '\E800';
    }
    &[href*=github]:after {
      content: '\F113';
    }
    &[href*=linkedin]:after {
      content: '\F30C';
    }
    &[href=obfuscated] {
      flex-direction: row-reverse;
    }
  }
}