& {
  display: flex;
  list-style: none;
  line-height: 21px;
  margin-top: -$gutter-half;
  padding-bottom: $gutter + $gutter-half;
  margin-bottom: -$gutter-half;
  position: relative;
  > li {
    min-width: 110px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0 1px;
    padding: $gutter-small $gutter-quarter 0;
    background: $color-black;
    color: $color-white;
    > span {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
    ul {
      padding: 0;
      margin: $gutter-small -#{$gutter-quarter} 0;
      list-style: none;
      background: $color-lightgrey;
      color: $color-black;
      flex-grow: 1;
      li {
        padding: $gutter-small $gutter-quarter;
        &:last-child {
          padding-bottom: $gutter;
        }
      }
    }
  }
  &.scrollable {
    padding-right: 0;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    //scroll arrow
    & + span {
      @include arrow($color: $color-link, $position: after);
      color: $color-link;
      float: right;
      margin-top: -$gutter;
      font-size: 0.8em;
      display: flex;
      align-items: center;
      opacity: 1;
      transition: 0.6s opacity;
      &:after {
        margin-left: $gutter-quarter;
      }
    }
    &.scrolled + span {
      opacity: 0;
    }
  }
}