& {
  font-size: 8vw;
  position: relative;
  &:before {
    content: '';
    background: $color-border;
    position: absolute;
    height: $border-width;
    bottom: 0;
    width: calc(100vw - #{$gutter});
  }
}