& {
  display: flex;
  list-style: none;
  font-size: 0.8em;
  line-height: 21px;
  margin-top: -$gutter-half;
  padding-bottom: $gutter + $gutter-half;
  margin-bottom: -$gutter-half;
  position: relative;
  > li {
    min-width: 80px;
    flex-grow: 1;
    margin: 0 1px;
    background: $color-lightgrey;
    > p {
      background: $color-black;
      color: $color-white;
      padding: $gutter-small $gutter-quarter;
      margin: 0;
    }
    ul {
      padding: 0;
      list-style: none;
      li {
        padding: $gutter-small $gutter-quarter;
        &:last-child {
          padding-bottom: $gutter-half;
        }
      }
    }
  }
  &:not(.scrollable) {
    padding-right: $gutter;
  }
  &.scrollable {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    //scroll arrow
    & + span {
      @include arrow($color: $color-link, $position: after);
      color: $color-link;
      float: right;
      margin-top: -$gutter;
      font-size: 0.8em;
      display: flex;
      align-items: center;
      opacity: 1;
      transition: 0.6s opacity;
      &:after {
        margin-left: $gutter-quarter;
      }
    }
    &.scrolled + span {
      opacity: 0;
    }
  }
}