& {
  background: $color-lightgrey;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 0 $gutter-half;
  display: flex;
  flex-direction: column;
  padding-bottom: $sideloader-nav-height;
  > * {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: $breakpoint-tablet;
  }
  nav {
    height: $sideloader-nav-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  p {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 8vw;
    margin-bottom: 0;
    padding: 0 $gutter-half;
    em {
      font-size: 5vw;
      margin-top: $gutter;
      font-style: normal;
    }
    @include mq($from: tablet) {
      font-size: 59px;
    }
  }
  .toggle {
    &:before {
      content: 'Info';
    }
  }
  .button--back {
    opacity: 1;
    transition: 0.2s opacity;
  }
  &.open {
    .toggle {
      &:before {
        content: 'Close';
      }
      &:after {
        transform: rotateZ(135deg);
      }
    }
    .button--back {
      opacity: 0;
    }
  }
}