@import "variables/variables-layout";
@import "variables/variables-colors";
@import "mixins/mixin-arrow";
@import "mixins/mixin-link";
@import "base/base-typography";
@import "base/base-link";
@import "base/base-button";
@import "layout/layout-main";
@import "layout/layout-header";
@import "layout/layout-sideloader";

/* added inline in index.html */
// body {
//   background: $color-primary;
// }
// main {
//   box-shadow: 0 0 20px #888;
//   background: $color-white;
// }

main {
  > section {
    opacity: 1;
  }
  > section > div {
    // mapping silly markup to partials
    h1 {
      @import "modules/module-page-title";
    }

    blockquote:first-of-type {
      @import "modules/module-contact-info";
    }

    h2:first-of-type + ul {
      @import "modules/module-skills";
    }

    h1, h2, h3 {
      + p em {
        @import "modules/module-sub-heading";
      }
    }

    // section
    h2 {
      @import "modules/module-section-heading";
    }

    // subsection
    h3 {
      @import "modules/subsection/module-subsection-heading";
      & ~ blockquote {
        @import "modules/subsection/module-subsection-info";
        & em {
          @import "modules/module-date";
        }
        & + ul {
          @import "modules/subsection/module-subsection-list";
        }
      }
    }
    // extracurricular
    pre {
      @import "modules/module-extracurricular";
    }
    // sidebar
    &:first-child {
      @import "modules/module-sidebar.scss";
    }
    // footer
    &:last-child {
      @import "modules/module-footer";
    }
  }
  > aside {
    nav {
      @import "modules/module-sideloader-nav"
    }
  }
}
