$color-black: #292929;
$color-white: #fff;
$color-hot-pink: #ff69b4;
$color-carnation-pink: #ffa6d3;
$color-lightgrey: #f5f5f5;

$color-primary: $color-hot-pink;
$color-link: $color-primary;
$color-link-hover: $color-carnation-pink;
$color-border: $color-carnation-pink;