$breakpoint-mobile:  320px;
$breakpoint-tablet:  740px;
$breakpoint-desktop: 960px;
$breakpoint-wide:    1300px;

$mq-breakpoints: (
    mobile:  $breakpoint-mobile,
    tablet:  $breakpoint-tablet,
    desktop: $breakpoint-desktop,
    wide:    $breakpoint-wide
);

@import "mq";

$gutter: 20px;
$gutter-half: $gutter / 2;
$gutter-quarter: $gutter / 4;
$gutter-small: 2px;

$border-width: 4px;

$sidebar-width: 180px;

$sideloader-nav-height: 50px;