.button {
  display: inline-flex;
  align-items: center;
  padding: $gutter-quarter $gutter-half;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  background-color: $color-button-bg;
  transition: 0.2s background-color;
  color: $color-button;
  &:hover {
    background-color: $color-button-bg-hover;
  }
  &:before, &:after {
    background: none;
  }
  &.button--back {
    @include arrow($color: $color-button, $direction: back);
    &:before {
      margin-right: $gutter-quarter;
    }
  }
  &.button--forward {
    @include arrow($color: $color-button, $position: after);
    &:after {
      margin-left: $gutter-quarter;
    }
  }
  &.button--up {
    @include arrow($color: $color-button, $direction: up, $position: after);
    &:after {
      margin-left: $gutter-quarter;
    }
  }
}

a.button {
  @include linkSetColor($color-button, $color-button);
}